/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografía
    4. Visuales
    5. Otros
*/

:root {
	--size-300: 300;
	--size-400: 400;
	--size-500: 500;
	--size-700: 700;
	--background: #e5e5e5;
	--linear-gradient: 207.8deg, #201e1c 16.69%, #f7931a 100%;
	--bitcoin-orage: #f7931a;
	--soft-orange: #ffe9d5;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black: #201e1c;
	--black: #282623;
	--gray: #bababa;
	--off-white: #faf8f7;
	--just-white: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: "DM Sans", sans-serif;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-width: 32rem;
	height: 33.4rem;
	text-align: center;
	background: linear-gradient(
		207.8deg,
		var(--warm-black) 16.69%,
		var(--bitcoin-orage) 100%
	);
}

header img {
	width: 15rem;
	height: 2.4rem;
	margin-top: 6rem;
	align-self: center;
}

.header--title-container {
	width: 90%;
	min-width: 28.8rem;
	max-width: 90rem;
	height: 21.8rem;
	margin-top: 5rem;
	text-align: center;
	align-self: center;
}

.header--title-container h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 2.6rem;
	color: var(--just-white);
}

.header--title-container p {
	margin-top: 2.5rem;
	font-style: normal;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: var(--soft-orange);
}

.header--title-container .header--button {
	position: absolute;
	left: calc(50% - 11.5rem);
	top: 27rem;
	display: block;
	margin-top: 3.5rem;
	padding: 1.5rem;
	width: 22.9rem;
	height: 4.8rem;
	background-color: var(--off-white);
	box-shadow: 0px 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 0.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--black);
}

.header--button span {
	display: inline-block;
	width: 1.3rem;
	height: 0.8rem;
	margin-left: 1rem;
	background-image: url("./assets/icons/down-arrow.svg");
}

main {
	width: 100%;
	height: auto;
	background-color: var(--off-white);
}

.main-exchange-container {
	width: 100%;
	height: auto;
	padding-top: 8rem;
	padding-bottom: 3rem;
	text-align: center;
}

.main-exchange-container--title {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	margin: 0 auto;
}

.backgroundImg {
	width: 20rem;
	height: 20rem;
	margin: 0 auto;
	margin-bottom: 5rem;
	background-image: url("./assets/img/Bitcoin.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main-exchange-container h2 {
	margin-bottom: 3rem;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--black);
}

.main-exchange-container p {
	margin-bottom: 3rem;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	color: #757575;
}

.main-currency-table,
.main-comission-table {
	width: 70%;
	min-width: 235px;
	max-width: 500px;
	height: 36rem;
	margin: 0 30px;
	scroll-snap-align: center;
	font-family: "Inter", sans-serif;
}

.main-tables-container {
	display: flex;
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	scroll-snap-type: x proximity;
}

.main-tables-container .currency-table--title,
.main-tables-container .comission-table--title {
	margin-bottom: 1.5rem;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.3rem;
}

.main-tables-container .currency-table--title {
	color: var(--bitcoin-orage);
}

.main-tables-container .comission-table--title {
	color: var(--secondary-blue);
}
.currency-table--container,
.comission-table--container {
	width: 90%;
	min-width: 230px;
	max-width: 300px;
	height: 25rem;
	margin: 0 auto;
}

.currency-table--container table,
.comission-table--container table {
	width: 100%;
	height: 100%;
}

.currency-table--container td,
.comission-table--container td {
	width: 50%;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.9rem;
	color: var(--gray);
	background-color: var(--just-white);
}

.currency-table--container .table__top-left {
	border-radius: 1.5rem 0 0 0;
}

.currency-table--container .table__top-right {
	border-radius: 0 1.5rem 0 0;
}

.currency-table--container .table__bottom-left,
.comission-table--container .table__bottom-left {
	border-radius: 0 0 0 1.5rem;
}

.currency-table--container .table__bottom-right,
.comission-table--container .table__bottom-right {
	border-radius: 0 0 1.5rem 0;
}

.currency-table--container .table__right,
.comission-table--container .table__right {
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.7rem;
	color: #757575;
}

.currency-table--container .down,
.currency-table--container .up {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.currency-table--container .up {
	background-image: url("./assets/icons/trending-up.svg");
}

.currency-table--container .down {
	background-image: url("./assets/icons/trending-down.svg");
}

.currency-table--date,
.comission-table--date {
	width: 190px;
	height: 30px;
	margin: 0 auto;
	margin-top: 1.5rem;
	padding: 0.8rem;
	border-radius: 8px;
}
.currency-table--date {
	background-color: var(--soft-orange);
}
.comission-table--date {
	background-color: var(--soft-blue);
}
.currency-table--date p,
.comission-table--date p {
	font-size: 1.2rem;
	line-height: 1.5rem;
	font-weight: 300;
	color: var(--warm-black);
}

.main-product-detail {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: auto;
	padding: 2rem 1rem;
	background-color: var(--warm-black);
}

.product-detail--batata-logo {
	position: absolute;
	width: 4rem;
	height: 2.5rem;
	top: -10px;
	left: calc(50% - 20px);
	background-image: url("./assets/icons/batata.svg");
}

.product-detail--title {
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
	margin-top: 5rem;
	text-align: center;
}

.product-detail--title h2 {
	margin-bottom: 2rem;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}

.product-detail--title p {
	margin-bottom: 2rem;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}

.product-detail--card,
.product-detail--rate,
.product-detail--coin,
.product-detail--trustiness {
	width: 90%;
	min-width: 288px;
	max-width: 400px;
	min-height: 150px;
	margin: 15px auto;
	padding: 15px;
	background-color: var(--black);
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-cards--container .icon-card {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.clock {
	background-image: url("./assets/icons/clock.svg");
}

.eye {
	background-image: url("./assets/icons/eye.svg");
}

.money {
	background-image: url("./assets/icons/dollar-sign.svg");
}

.product--card-title,
.product--rate-title,
.product--coin-title,
.product--trustiness-title {
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.8rem;
	color: var(--just-white);
}

.product--card-body,
.product--rate-body,
.product--coin-body,
.product--trustiness-body {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}

.check {
	background-image: url("./assets/icons/check-circle.svg");
}

.bitcoin-img-container {
	width: 100%;
	min-width: 320px;
	text-align: center;
	height: 60vh;
	background-image: url("./assets/img/bitcoinbaby2x.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
	padding-top: 60px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}

.main-plans-container {
	width: 100%;
	min-width: 320px;
	padding-bottom: 70px;
	text-align: center;
}

.plans--title {
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 50px;
}

.plans--title h2 {
	padding-top: 50px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--black);
}

.plans--title p {
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #757575;
}

.plans-container--card,
.plans-container--second-card,
.plans-container--third-card {
	position: relative;
	scroll-snap-align: center;
	width: 70%;
	min-width: 190px;
	max-width: 300px;
	height: 250px;
	margin: 50px 10px 0;
	padding: 0 15px;
	background-color: var(--just-white);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.type-plan {
	position: absolute;
	width: 120px;
	height: 31px;
	padding: 6px;
	top: -15px;
	left: calc(50% - 60px);
	font-size: 1.2rem;
	border-radius: 8px;
	color: var(--just-white);
}

.recommended {
	background-color: var(--bitcoin-orage);
}

.basic {
	background-color: #8ecae6;
}

.limited {
	background-color: #31393c;
}
.plan-card--title,
.plan-card--title__second-card,
.plan-card--title__third-card {
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: black;
}

.plan-card--price,
.plan-card--price__second-card,
.plan-card--price__third-card {
	padding: 5px 0;
	font-size: 5.2rem;
	font-weight: bold;
	line-height: 5.3rem;
	color: black;
}

.plan-card--price span,
.plan-card--price__second-card span,
.plan-card--price__third-card span {
	font-size: 1.2rem;
	font-weight: 300;
	vertical-align: 25px;
}

.plan-card--saving,
.plan-card--saving__second-card,
.plan-card--saving__third-card {
	font-size: 1.2rem;
	color: #757575;
}

.button-style {
	width: 150px;
	height: 48px;
	margin-top: 20px;
	background-color: var(--off-white);
	border-radius: 4px;
	font-family: "DM Sans", sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.8rem;
	color: var(--black);
}
.plan-card--ca {
	border: 2px solid var(--bitcoin-orage);
}

.plan-card--second-ca {
	border: 2px solid #8ecae6;
}

.plan-card--third-ca {
	border: 2px solid #31393c;
}

.plan-card--ca span,
.plan-card--second-ca span,
.plan-card--third-ca span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("./assets/icons/orange-right-arrow.svg");
	vertical-align: text-bottom;
}

.plans-container--slider {
	display: flex;
	width: 90%;
	margin: 0 auto;
	height: 316px;
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	scroll-snap-type: x proximity;
}

footer {
	display: flex;
	width: 100%;
	height: 150px;
	background-color: var(--bitcoin-orage);
}

footer section {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}

.footer--left ul {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	list-style: none;
}

.footer--left li {
	margin: 10px 0;
}

.footer--left li a {
	text-decoration: none;
	color: var(--just-white);
}

.footer--right {
	width: 100px;
	height: inherit;
}
